<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head')%>
  </head>
  <body>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" onclick="setCurrentPage(--currentPage)"
            >Previous</a
          >
        </li>
      </ul>
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Project</th>
          <th>Start Date</th>
          <th>
            <select class="custom-select" id="ddlSort" onchange="sort()">
              <option value="byDate" selected="true">Recent Projects</option>
              <option value="byUser">By Username (asc)</option>
              <option value="byProject">Project Title (asc)</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <%- include('partials/scripts')%>
    <script>
      var currentPage = 1;
      var records = 2;
      var data = [];
      $(document).ready(() => {
        data = "<%= JSON.stringify(data) %>";
        data = JSON.parse(data.replace(/&#34;/g, '"'));
        renderPagination();
        sort();
      });
      function renderPagination() {
        let list = "";
        for (let i = 1; i <= Math.ceil(data.length / records); i++) {
          list += `<li class="page-item"><a class="page-link" id="${i}"
             href="#" onclick="setCurrentPage(id)">${i}</a></li>`;
        }
        list += `<li class="page-item">
          <a class="page-link" href="#" onclick="setCurrentPage(++currentPage)">
            Next</a></li>`;
        $("ul.pagination").append(list);
      }
      function setCurrentPage(id) {
        currentPage = id;
        renderRecords();
      }

      function renderRecords() {
        const endWith = currentPage * records;
        const startWith = endWith - records;
        const slicedData = data.slice(startWith, endWith);
        let rows = "";
        slicedData.forEach((value, i) => {
          rows += `<tr>
            <td>${value.username}</td>
            <td>${value.project_title}</td>
            <td>${value.date_added}</td>
            </tr>`;
        });
        $("table tbody").html(rows);
      }

      function sort() {
        const value = $("#ddlSort").val();
        if (value === "byDate")
          data = data.sort(
            (a, b) => new Date(b.date_added) - new Date(a.date_added)
          );
        else if (value === "byUser")
          data = data.sort((a, b) => a.username - b.username);
        else
          data = data.sort((a, b) =>
            a.project_title.localeCompare(b.project_title)
          );
        renderRecords();
      }
    </script>
  </body>
</html>
