<html>
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="card bg-light text-secondary mt-3">
            <div class="card-body">
              <h3 class="card-title">Login</h3>
              <form action="/login" method="post">
                <div class="form-group">
                  <label for="txtEmail">Email</label>
                  <input
                    type="text"
                    name="email"
                    id="txtEmail"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="txtPassword">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="txtPassword"
                    class="form-control"
                    required
                  />
                  <% if(typeof(err)!=="undefined"){ %>
                  <small class="text-danger"><%= err %></small>
                  <%}%>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts') %>
  </body>
</html>
